
/* Picture of website */
.logo {
  text-align: center;
  margin-top: 50px;
}

.logo img {
  display: block;
  margin: 0 auto;
}


/* Click search */
.search-button {
  width: 25%;
  background-color: rgb(16, 171, 5);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}




/* Profile recommend */
.recommendations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: calc(33.33% - 20px);
}

.column h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.column p {
  margin: 10px 0;
}

/* When user clicks Learn More */
.column a {
  color: #007bff;
  text-decoration: none;
}

.column a:hover {
  text-decoration: underline;
}

.rounded img {
  border-radius: 15px;
}

/*/ Animation Fade in When user cilck in/**/

.search-container, .recommend-profiles, .logo {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* for phones and tablets */

@media only screen and (max-width: 800px) {
  .search-container {
    width: 90%;
    margin: 30px auto;
  }
  
  .search-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .search-by {
    margin-bottom: 10px;
  }
  
  .search-button {
    margin-left: 0;
  }
  
  .recommendations-container {
    width: 100%;
  }
  
  .column {
    width: 100%;
  }
  
  .logo {
    margin-top: 20px;
  }
}