@media only screen and (min-width: 801px) {
    .logo {
        text-align: center;
        margin-top: 10px;
      }

    Header{
        text-align: center;
        color: black;
    }
    .AboutUs{
        display: flex;
        text-align: center;
    }
    .abouttext{
        text-align: center;
        margin: 10%;
        margin-top: 1%;
        width: 100%;
    }
    
    .container {
        padding: 0%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .column {
        padding: 1%;
        margin: 1%;
        border-radius: 5%;
        background-color: white;
        border: solid white 2px;
    }
    .profile-picture{
        border-radius: 25px;
    }

}
/* for phones and tablets */
@media only screen and (max-width: 800px) {
    .logo {
        text-align: center;
        margin-top: 1%;
      }
    Header{
        text-align: center;
        color: black;
    }
    .AboutUs{
        display:flex;
        text-align: center;
    }
    .abouttext{
        text-align:center;
        margin: 5%;
        margin-top: 1%;
        width: 85%;

    }
    .container {
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .column {
        padding: 2%;
        margin: 1%;
        border-radius: 2%;
        background-color: white;
        border: solid white 2px;
    }

}
