/* CSS code for navigation bar and form  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar link styles */
nav a {
    display: block;
    float: left;
    color: #FDFEFE;
    text-decoration: none;
}

/* Navigation bar link hover styles */
nav a:hover {
    color: #D2B4DE;
}

nav img {
    margin-top: 6px;
    margin-bottom: -4px;
}

/* CSS rules for screens wider than 800px */
@media screen and (min-width: 801px) {
    nav {
        background-color: #242B4B;
        padding: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        top: 0;
        position: fixed;
        width: 100%;
    }
    /* Body styles */
    body {
        margin-top: 20px;
        margin-left: 25px;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
    }
    /* Form styles */
    .FillIn {
        width: 360px;
        height: min-content;
        margin-top: 40px;
        border-radius: 12px;
        background: #ffffff;
        border: 1px solid #000000;
        padding: 2%;
        zoom: 0.85;
    }
    /* Submit button styles */
    .FillIn form input[type="submit"] {
        font-size: 20px;
        margin-top: 20px;
    } 

    .text-center {
        margin-top: 0%;
        margin-bottom:-20px;
    }
}

/* CSS rules for screens 800px or less */
@media screen and (max-width: 800px) {
    /* Center the form horizontally */

    
    /* Navigation bar styles */
    nav {
        margin-left: 0.39px;
        background-color: #242B4B;
        padding: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    /* Form styles */
    .FillIn {
        width: 360px;
        height: min-content;
        margin-top: 50px;
        margin-left: 15px;
        border-radius: 12px;
        background: #ffffff;
        border: 1px solid #000000;
        padding: 2%;
    }
}

