* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body {
    color: black;
    margin: 0;
    padding: 0 ;
}

@media only screen and (min-width: 801px) {

    button {
        position: absolute;
        width: 100px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        border: none;
    }

    .sectionindex {
        padding: 40px;
        background-image: url("../picture/indexsectionpic.jpg");
    }

    .cardd {
        width: auto;
        height: 50px;
    }

    .cardtitle {
        color: #000;
    }

    .card.text-bg-dark.cardd {
        border-radius: 80px;
    }

    .card-img {
        border-radius: 80px;
    }

    .seemoretosearch {
        color: aliceblue;
        display: flex;
        justify-content: end;
    }

    .container {
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .column {
        padding: 2%;
        margin: 1%;
        border-radius: 2%;
        background-color:rgb(236, 254, 254);
        border: solid black 2px;
    }

    .imsize{
        width: 100%;
        border-radius: 5%;
    }

    .textsize {
        font-size: 100%;
    }

}

/* for phones and tablets */
@media only screen and (max-width: 800px) {

    button {
        position: absolute;
        width: 100px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        border: none;
    }

    .sectionindex {
        padding: 40px;
        background-image: url("../picture/indexsectionpic.jpg");
    }

    .cardd {
        width: auto;
        height: 50px;
    }

    .cardtitle {
        color: #000;
    }

    .card.text-bg-dark.cardd {
        border-radius: 80px;
    }

    .card-img {
        border-radius: 80px;
    }

    .seemoretosearch {
        color: aliceblue;
        display: flex;
        justify-content: end;
    }

    .container {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .column {
        padding: 2%;
        margin: 2%;
        border-radius: 2%;
        background-color:lightcyan;
        border: solid black 2px;
    }

    .imsize{
        width: 100%;
        border-radius: 5%;
    }

    .textsize {
        font-size: 60%;
    }

}