@media only screen and (min-width: 801px) {
    * {
        margin: 0;
        padding: 0;
        /*box-sizing: border-box;*/
    }

    body {
        color: black;
        margin: 0;
        padding: 0 ;
    }

    button {
        position: absolute;
        width: 100px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        border: none;
    }

    .sectionindex {
        padding: 40px;
        background-image: url("../picture/indexsectionpic.jpg");
    }

    .cardd {
        width: auto;
        height: 50px;
    }

    .cardtitle {
        color: #000;
    }

    .card.text-bg-dark.cardd {
        border-radius: 80px;
    }

    .card-img {
        border-radius: 80px;
    }

    .seemoretosearch {
        color: aliceblue;
        display: flex;
        justify-content: end;
    }

}

/* for phones and tablets */
@media only screen and (max-width: 800px) {

}