* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

body {
    color: black;
    margin: 0;
    padding: 0 ;
}

@media only screen and (min-width: 801px) {

    .sectionindex {
        padding: 40px;
        background-image: url("../picture/indexsectionpic.jpg");
    }

    /* about and description section */
    .container {
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .column {
        padding: 2%;
        margin: 1%;
        border-radius: 20px;
        background-color:#242B4B;
    }
    /* ----------------------------- */


    /* button decor */
    .borderbutton {
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 8px;
        margin: auto;
        padding: 10px;
        color: aliceblue;
        text-decoration: none;
        background-color: black;
        border-color: aliceblue;
    }
    /* ---------- */

    /* image size */
    .imsize{
        width: 100%;
        border-radius: 5%;
    }

    /* textsize */
    .text {
        font-size: 100%;
        color: aliceblue;
    }

    /* topic color */
    .topic {
        color: aliceblue;
    }

    /* image flex */
    .improfile {
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }

    /* expertise section */
    .expertisecontainer {
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #242B4B;
    }

    .expertisecolumn {
        padding: 2%;
        margin: 1%;
        border-radius: 20px;
        background-color:aliceblue;
    }
    /* ---------------- */

    /* class button */
    .btn.btn-primary {
        display: flex;
        justify-content: center;
    }

    /* name port align */
    .card-title {
        text-align: center;
    }
}

/* for phones and tablets */
@media only screen and (max-width: 800px) {

    .sectionindex {
        padding: 40px;
        background-image: url("../picture/indexsectionpic.jpg");
    }

    /* about and description section */
    .container {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .column {
        padding: 2%;
        margin: 2%;
        border-radius: 10px;
        background-color:#242B4B;
    }
    /* ----------------------------- */

    /* button decor */
    .borderbutton {
        border-color: black;
        border-width: 2px;
        border-style: solid;
        border-radius: 8px;
        margin: auto;
        padding: 10px;
        color: aliceblue;
        text-decoration: none;
        background-color: black;
        border-color: aliceblue;
    }


    /* image size */
    .imsize{
        width: 100%;
        border-radius: 5%;
    }

    /* textsize */
    .text {
        font-size: 100%;
        color: aliceblue;
    }

    /* topic color */
    .topic {
        color: aliceblue;
    }

    /* image flex */
    .improfile {
        display: flex;
        justify-content: center;
        border-radius: 10px;
    }

    /* expertise section */
    .expertisecontainer {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #242B4B;
    }

    .expertisecolumn {
        padding: 2%;
        margin: 1%;
        border-radius: 20px;
        background-color:aliceblue;
    }
    /* ---------------- */

    /* class button */
    .btn.btn-primary {
        display: flex;
        justify-content: center;
    }

    /* name port align */
    .card-title {
        text-align: center;
    }
}