.logo {
    text-align: center;
    margin-top: 50px;
  } /*/ Logo middle */
  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
  }
  .search-container {
    position: relative;
  }
   /*/ The option box will under the search bar and search by */
  
  .search-input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
  }
  
  .search-by {
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  }
  
  .search-container .search-options {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 10px #ccc;
    z-index: 1;
  }
  
  .search-container:hover .search-options {
    display: block;
  }
  
  /*/ The arrow part*/
  .search-by .arrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .search-container:hover .search-by .arrow {
    transform: rotate(0deg);
  }
  /*/  Make the arrow go up when user click it */
  
  /*/ Filter part*/
  .search-options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
  }
  
  .search-by.active + .search-options {
    display: block;
  }
  
  .search-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .search-options li {
    margin: 0;
    padding: 5px;
    cursor: pointer;
  }
  
  
  /*/ Search Button*/ 
  .search-button {
    background-color: rgb(28, 181, 232);
    color: rgb(9, 9, 9);
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /*/ New  part */