
/*/ Picture of website/*/
.logo {
  text-align: center;
  margin-top: 50px;
}

.logo img {
  display: block;
  margin: 0 auto;
}

/*/ Do the Search box /*/
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 60%;
  position: relative;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.search-container {
  position: relative;
}

.search-input {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 10px;
}

/*/ When the user cilck 'Search by' it will have the option to help user find easliy/*/
.search-by {
  background-color: lightgray;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.search-container .search-options {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 1;
}

.search-container:hover .search-options {
  display: block;
}

.search-by .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.search-container:hover .search-by .arrow {
  transform: rotate(0deg);
}

.search-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  
}

.search-by.active + .search-options,
.search-options.active {
  display: block;
}

.search-by.active + .search-options {
  display: none;
}


.search-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-options li {
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

.search-options li.selected::after {
  content: '\2713';
  margin-left: 5px;
}

/*/Click serach/*/
.search-button {
  background-color: rgb(28, 181, 232);
  color: rgb(9, 9, 9);
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/*/ Profile recommand /*/
.recommendations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column {
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: calc(33.33% - 20px);
}

.column h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.column p {
  margin: 10px 0;
}

/*/ When user cilck Learn More /*/
.column a {
  color: #007bff;
  text-decoration: none;
}

.column a:hover {
  text-decoration: underline;
}



/*/ Animation Fade in When user cilck in/**/

.search-container, .recommend-profiles, .logo {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* for phones and tablets */

@media only screen and (max-width: 800px) {
  .search-container {
    width: 90%;
    margin: 30px auto;
  }
  
  .search-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .search-by {
    margin-bottom: 10px;
  }
  
  .search-button {
    margin-left: 0;
  }
  
  .recommendations-container {
    width: 100%;
  }
  
  .column {
    width: 100%;
  }
  
  .logo {
    margin-top: 20px;
  }
}

