* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.FillIn {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    border:
    1px solid #000000;
}

.FillIn h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.FillIn form {
    font-size: 20px;
}

.FillIn form .form-group {
    margin-bottom: 12px;
}

.FillIn form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
} 
