* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 0.97;
}

body {
    margin-top: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.FillIn {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    border:
    1px solid #000000;
}

.FillIn form input[type="submit"] {
    font-size: 20px;
    margin-top: 20px;
} 
