/* screens and laptops */
@media only screen and (max-width: 1200px) {
      .bannerimage {
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80);
        height: 250px;
        background-color: purple;
        background-position: center;
      }

      .profile-picture {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        margin-top: 25px;
        margin-left: 30px;
      }
      
}

/* for phones and tablets */
@media only screen and (max-width: 800px) {
    .bannerimage {
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80);
        height: 150px;
        background-color: purple;
        background-position: center;
      }

      .profile-picture {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin-top: 10px;
        margin-left: 10px;
      }
}


/* Do not forget to make it responsive
Also this file is for ***user and product management pages***
Please move your CSS to a new file
*/
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    border: 1px solid #000000;
  }
.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
} */