/* screens and laptops */
@media only screen and (max-width: 1200px) {
      .bannerimage {
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80);
        height: 250px;
        background-color: purple;
        background-position: center;
      }

      .profile-picture {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        margin-top: 25px;
        margin-left: 30px;
      }
      
}

/* for phones and tablets */
@media only screen and (max-width: 800px) {
    .bannerimage {
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8&w=1000&q=80);
        height: 150px;
        background-color: purple;
        background-position: center;
      }

      .profile-picture {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin-top: 10px;
        margin-left: 10px;
      }
}