@media screen and (min-width: 801px) {

    footer {
        background-color: #212529;
        padding: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    footer a {
        display: block;
        float: left;
        color: #FDFEFE;
        text-decoration: none;
    }
    
    footer a:hover {
        color: #D2B4DE;
    }

    .sectionheader {
        padding: 8px;
        text-align: center;
        font-size: 12px;
        color: aliceblue;
    }

    .contactinfo {
        color: aliceblue;
        font-size: 10px;
    }
    
}

/* for phones and tablets */
@media only screen and (max-width: 800px) {

    footer {
        background-color: #212529;
        padding: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .innerbox {
        width: auto;
        height: auto;
        margin: 10px;
        padding: 10px;
        letter-spacing: 4px;
        background-color: transparent;
    }
    
    .border {
        border-color: transparent;
        border-width: 2px;
        border-style: solid;
        border-radius: 8px;
    }

    .sectionheader {
        padding: 8px;
        text-align: center;
        font-size: 8px;
        color: aliceblue;
    }

    .contactinfo {
        color: aliceblue;
        font-size: 4px;
    }
}