@media screen and (min-width: 801px) {

    nav {
        background-color: #242B4B;
        padding: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    margin: 0;
    padding: 0 ;
}

form {
    margin: 0px;
}

nav a {
    display: block;
    float: left;
    color: #FDFEFE;
    text-decoration: none;
}

nav a:hover {
    color: #D2B4DE;
}
}

/* for phones and tablets */
@media only screen and (max-width: 800px) {
    nav {
        background-color: #242B4B;
        padding: 15px;
        overflow: hidden;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-evenly;
        align-items: right;
    }

    nav a {
        display: block;
        float: left;
        color: #FDFEFE;
        text-decoration: none;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    nav a:hover {
        color: #D2B4DE;
    }

    #myLinks {
        display: none;
    }
}